{{ define "main" }}
<section id="{{ .Title | anchorize }}">
    <p><a href="/#">Back</a></p>
    <h2>{{ .Title }}</h2>
    {{ .Content }}
    {{ if eq .Section "events" }}
    <div class="row">
      {{- range ( where site.RegularPages "Section" "events" | first 10 ) }}
        <article class="col-6 col-12-xsmall work-item">
          <a href="{{ .Permalink }}" class="image fit thumb">
            {{ if (not (isset .Params "image")) | or (eq .Params.image "") }}
            <img src="{{ "/images/default.jpg" | relURL }}" alt="" />
            {{ else }}
            <img src="{{ .Params.image | relURL }}" alt="" />
            {{ end }}
          </a>
          <h3>{{ .Title }} - {{  time.Format "Mon,  01. Jan 2006" .Params.eventDate }}</h3>
          <p>{{ .Params.Lead | safeHTML }}</p>
        </article>
      {{ end }}
      </div>
    {{ else }}
      {{ with .Params.images }}
      <div class="row gtr-50 gtr-uniform">
        {{ range . }}
        <div class="col-4">
          <span class="image fit">
            <img src="{{ . | relURL }}">
          </span>
        </div>
        {{ end }}
      </div>
      {{ end }}
  {{ end }}
  </section>
  {{ end }}